<!DOCTYPE html>
<html xmlns:th="http:thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>403</title>

<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
	crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="static/css/style.css"
	th:href="@{/css/style.css}">
	<link rel="icon" type="image/png" href="static/images/icon.png" th:href="@{/images/icon.png}" />
</head>
<body>

<a class="active" href="/Inicio"><img id="img3" src="static/images/home2.png" th:src="@{/images/home2.png}" width="90" height="90"/></a>
<img id="imgErr" src="static/images/403.png" th:src="@{/images/403.png}"/>


</html>