<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="UTF-8">
<title>Index</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
	crossorigin="anonymous">
    

    <!--JQUERY-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    
    <!-- FRAMEWORK BOOTSTRAP para el estilo de la pagina-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    
    <!-- Los iconos tipo Solid de Fontawesome-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css">
    <script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>

	<link rel="stylesheet" type="text/css" href="static/css/style.css" th:href="@{/css/style.css}">
	<link rel="icon" type="image/png" href="static/images/icon.png" th:href="@{/images/icon.png}" />
	</head>
<body id="body">
<form method="POST" th:action="@{/logout}">
					<a href="#" onclick="this.parentNode.submit();">
					<img title="Logout" id="img4" src="static/images/logout.png" th:src="@{/images/logout.png}"></a>
				</form>
<div class="container">


<div class="modal-dialog text-center" id="div">
        <div class="col-sm-8 main-section"><h2>UNIVERSITY</h2>
            <div class="modal-content" id="login">
               <!--<h1 th:inline="text">Welcome!  [[${#httpServletRequest.remoteUser}]]!</h1>-->
            </div>
        </div>      
    </div>
    
    <a title="Inscription" class="active" href="/SubjectStudent"><img id="img" src="static/images/ins.png" th:src="@{/images/ins.png}"/></a>
    <a title="Subject" class="active" href="/Subject"><img id="img" src="static/images/subject.jpg" th:src="@{/images/subject.jpg}"/></a>
    <a title="Teacher" class="active" href="/Teacher"><img id="img1" src="static/images/teacher.png" th:src="@{/images/teacher.png}"/></a>
	<a title="Student" href="/Student"><img id="img2" src="static/images/student.png" th:src="@{/images/student.png}"/></a>
		

</div>


<footer class="footer" id="fot">
  <p>&copy; 2021 For Leidy Berrio</p>
</footer>
</body>
</html>