<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>List Teacher</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
	crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="static/css/style.css"
	th:href="@{/css/style.css}">
	<link rel="icon" type="image/png" href="static/images/icon.png" th:href="@{/images/icon.png}" />
</head>
<body>
<form method="POST" th:action="@{/logout}">
					<a href="#" onclick="this.parentNode.submit();">
					<img id="img4" src="static/images/logout.png" th:src="@{/images/logout.png}"></a>
				</form>
<div class="container">

		<a class="active" href="/Inicio"><img id="img3" src="static/images/home2.png" th:src="@{/images/home2.png}" width="90" height="90"/></a>
		
		<div class="container">
		<form th:action="@{/Teacher/saving}" th:object="${teacher}" class="form-control" method="POST">
		<h4>Teacher</h4><hr>
		<input type="hidden" name="idTeacher" th:field="*{idTeacher}">
		
		 <label>DNI</label>
		<input type="number" id="DNI" th:field="*{DNI}" required placeholder="012345...">
		<label>First Name</label>
		<input type="text" id="firstName" th:field="*{firstName}" required placeholder="First Name">
		<label>Last Name</label>
		<input type="text" id="lastName" th:field="*{lastName}" required placeholder="Last Name">
		<label>Status</label>
		<select th:field="*{activo}"  required>
		<option value="1">Active</option>
		<option value="0">Inactive</option>
		</select>
		<button type="submit" class="btn fa-input"><img src="/images/save.png" th:src="@{/images/save.png}" alt="Edit" width="35" height="35"></button>	
		</form>
		
		</div>


<table class="table">
<thead>
<tr>
<th scope="col">DNI</th>
<th scope="col">First Name</th>
<th scope="col">Last Name</th>
<th scope="col">Status</th>
<th scope="col">Edit</th>
<th scope="col">Delete</th>
</thead>
<tbody>

<tr th:each="var: ${listTeacher}">
<td th:text="${var.DNI}">
<td th:text="${var.firstName}">
<td th:text="${var.lastName}">
<!-- condiction -->
    <td th:if="${var.activo}">Active</td>
    <td th:unless="${var.activo}">Inactive</td>
    
    <!-- <a th:href="@{/Persona/actualizar/{idPersona}(idPersona=${var.idPersona})}" -->
    <td>
    <a th:href="@{/Teacher/update/{id_teacher}(idTeacher=${var.idTeacher})}">
    <img src="/images/edit.png" alt="Edit"
			width="30" height="30"></a>
			</td>
			
    <td>
    <a th:href="@{/Teacher/delete/{idTeacher}(idTeacher=${var.idTeacher})}">
    <img src="/images/delete.png" alt="Delete"
     width="30" height="30"></a>
    </td>
</tbody>



</table>
</div>

<footer class="footer">
  <p>&copy; 2021 For Leidy Berrio</p>
</footer>

<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
		crossorigin="anonymous"></script>
		
</body>
</html>