<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Users</title>
<meta charset="UTF-8">
<title>List User</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
	crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="static/css/style.css"
	th:href="@{/css/style.css}">
	<link rel="icon" type="image/png" href="static/images/icon.png" th:href="@{/images/icon.png}" />
</head>
<body>
<form method="POST" th:action="@{/logout}">
					<a href="#" onclick="this.parentNode.submit();">
					<img id="img4" src="static/images/logout.png" th:src="@{/images/logout.png}"></a>
				</form>
<div class="container">

<div class="container">
<a class="active" href="/Inicio"><img id="img3" title="Home" src="static/images/home2.png" th:src="@{/images/home2.png}" width="90" height="90"/></a>
<h4>Users</h4>
<form th:action="@{/User/saving}" th:object="${user}" method="POST">


		
</form >

</div>


<h5>Admin's</h5><hr>

<table class="table table-striped">
<thead>
<tr>
<th scope="col">DNI</th>
<th scope="col">Name</th>
<th scope="col">Number Phone</th>
<th scope="col">Address</th>
<th scope="col">Mail</th>
<th scope="col">Age</th>
</tr>
</thead>
<tbody>
<tr th:each="var: ${listA}">
<td th:text="${var.username}"></td>
<td th:text="${var.firstName} + ' '+ ${var.lastName}"></td>
<td th:text="${var.numberPhone}"></td>
<td th:text="${var.address}"></td>
<td th:text="${var.mail}"></td>
<td th:text="${var.age}"></td>

</tbody>
</table>

<h5>Students</h5><hr>
<table class="table table-striped">
<thead>
<tr>
<th scope="col">DNI</th>
<th scope="col">Name</th>
<th scope="col">Number Phone</th>
<th scope="col">Address</th>
<th scope="col">Mail</th>
<th scope="col">Age</th>
<th scope="col">Subjects</th>
</tr>
</thead>
<tbody>
<tr th:each="var: ${listS}">
<td th:text="${var.username}"></td>
<td th:text="${var.firstName} + ' '+ ${var.lastName}"></td>
<td th:text="${var.numberPhone}"></td>
<td th:text="${var.address}"></td>
<td th:text="${var.mail}"></td>
<td th:text="${var.age}"></td>
<td>
 <th:block th:each="sub, iter: ${var.subjects}">
 <label th:text="${sub.name}"></label>
 <th:block th:if="${!iter.last}">  , </th:block>
 
 </td>
</tbody>
</table>
<br>

</div>


<footer class="footer">
  <p>&copy; 2021 For Leidy Berrio</p>
</footer>

</body>
</html>